<!DOCTYPE html>

{% load static %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% block title %}<title>Empathy Lab</title>{% endblock %}
		<!-- Bootstrap core CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<!-- Custom styles for this project -->
		<link href="{% static 'css/styles.css' %}" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
			<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'index' %}">Empathy Lab</a>
			<ul class="navbar-nav px-3">
				<li class="nav-item text-nowrap">
					{% if user.is_authenticated %}
					<a href="{% url 'logout' %}?next={{request.path}}" class="nav-link">Sign out</a>
					{% else %}
					<a href="{% url 'login' %}?next={{request.path}}" class="nav-link">Sign in</a>
					{% endif %}
				</li>
			</ul>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<nav class="col-md-2 d-none d-md-block bg-light sidebar">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link {% if request.resolver_match.view_name == "index" %}active{% endif %}" href="{% url 'index' %}">
									<span data-feather="home"></span>
									Home
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link {% if request.resolver_match.view_name == "experiments" %}active{% endif %}" href="{% url 'experiments' %}">
									<span data-feather="activity"></span>
									Experiments
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link {% if request.resolver_match.view_name == "subjects" %}active{% endif %}" href="{% url 'subjects' %}">
									<span data-feather="users"></span>
									Subjects
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link {% if request.resolver_match.view_name == "stimulaes" %}active{% endif %}" href="{% url 'stimulaes' %}">
									<span data-feather="video"></span>
									Stimulaes
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link {% if request.resolver_match.view_name == "feedbacks" %}active{% endif %}" href="{% url 'feedbacks' %}">
									<span data-feather="sliders"></span>
									Feedbacks
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link {% if request.resolver_match.view_name == "analyses" %}active{% endif %}" href="{% url 'analyses' %}">
									<span data-feather="thermometer"></span>
									Analyses
								</a>
							</li>
                            
						</ul>
					</div>
				</nav>

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
				{% block content %}{% endblock %}
				</main>

			</div>
		</div>
		<!-- bootstrap -->
		<script src="{% static 'js/jquery-3.3.1.min.js' %}"</script>
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>

		<!-- Icons -->
		<script src="{% static 'js/feather.min.js' %}"></script>
		<script>
			feather.replace()
		</script>
        
       <!-- <script src="{% static 'js/gridList.js' %}"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}"</script>
        <script src="{% static 'js/jquery.gridList.js' %}"></script> -->
        
		<script src="{% static 'js/sensors.js' %}"></script>
        <!-- <script src="{% static 'js/sql.js' %}"></script> -->
        <!-- <script src="{% static 'js/record_play.js' %}"></script> -->
        {% block play_script %}{% endblock %}
	</body>
</html>
