{% extends "base_generic.html" %}

{% block content %}
    <h1>Experiment: {{record.get_experiment.title}}</h1>
    <p><h4>UID: {{record.id}}</h4></p>
    <p><h4>Subject: {{record.get_subject.first_name}}  {{record.get_subject.last_name}}</h4></p>
    <p><h4>Attendant: {{record.attendant}}</h4></p>
    <p><h4>Date: {{record.rec_date}}</h4></p>
    <p><h4>Experiment Summary:  {{record.get_experiment.summary}}</h4></p>
<p><h4>Stimulae: {{record.get_experiment.stimulae_id}}</h4></p>
<p><h4>Feedback: {{record.get_experiment.feedback_id}}</h4></p>
<p>
<p>{#record.get_experiment#}
<p> 

<p><h4>Record LevelDB: </h4></p> 
<p><h6>{{record.get_recorddb}} </h></p>
{% endblock %}

