{% extends "base_generic.html" %}

{% block content %}

<h1>Title: {{ experiment.title }}</h1>

<p><strong>Subject:</strong> <a href="{% url 'author-detail' experiment.author.pk %}">{{ experiment.subject }}</a></p>
<p><strong>Summary:</strong> {{ experiment.summary }}</p>
<p><strong>ISBN:</strong> {{ experiment.isbn }}</p> 
<p><strong>Feedback:</strong> {{ experiment.feedback }}</p>  
<p><strong>Stimulae:</strong> {% for stimulae in experiment.stimulae.all %}{{stimulae}}{% if not forloop.last %}, {% endif %}{% endfor %}</p>  

<div style="margin-left:20px;margin-top:20px">
<h4>Copies</h4>

{% for copy in experiment.record_set.all %}
<hr>
<p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'd' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
{% if copy.status != 'a' %}<p><strong>Due to be returned:</strong> {{copy.due_back}}</p>{% endif %}
<p><strong>Imprint:</strong> {{copy.imprint}}</p>
<p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>

{% endfor %}
</div>
{% endblock %}

