{% extends "base_generic.html" %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
	<h1 class="h2">Subjects List</h1>
</div>

<div class="table-responsive table-striped table-hover">
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th>#</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Date of Birth</th>
				<th>Gender</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for subject in subject_list %}
			<tr>
				<td>{{ subject.id }}</td>
				<td>{{ subject.first_name }}</td>
				<td>{{ subject.last_name }}</td>
				<td>{{ subject.date_of_birth }}</td>
				<td>{{ subject.gender }}</td>
				<td>
					<a href="{% url 'subject-detail' pk=subject.id %}">View</a>,
					<a href="{% url 'subject_update' pk=subject.id %}">Edit</a>,
					<a class="text-danger" href="{% url 'subject_delete' pk=subject.id %}">Delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<a class="btn btn-primary" href="{% url 'subject_create' %}" role="button">Register new subject</a>
{% endblock %}

