{% extends "base_generic.html" %}

{% block content %}

<h1>Subject: {{ subject }} </h1>
<p>{{subject.date_of_birth}} - {% if subject.gender %}{{subject.gender}}{% endif %}</p>

<div style="margin-left:20px;margin-top:20px">
<hl>
<h4>Experiments</h4>

<dl>
{% for experiment in subject.experiment_set.all %}
  <dt><a href="{% url 'experiment-detail' experiment.pk %}">{{experiment}}</a> ({{experiment.record_set.all.count}})</dt>
  <dd>{{experiment.summary}}</dd>
{% endfor %}
</dl>
<hl>
<h4>Records</h4>

<p><a href=""></p>

<dl>
{% for record in subject.record_set.all %}
  <dt><a href="{% url 'record-detail' record.id %}">{{record}}</a></dt>
  <dd>Attendant: {{record.attendant}}</dd>
{% endfor %}
</dl>

</div>
{% endblock %}
