{% extends "base_generic.html" %}

{% block content %}

<h1>Subject: {{ subject }} </h1>
<p>{{subject.date_of_birth}} - {% if subject.date_of_death %}{{subject.date_of_death}}{% endif %}</p>

<div style="margin-left:20px;margin-top:20px">
<h4>Experiments</h4>

<dl>
{% for experiment in subject.experiment_set.all %}
  <dt><a href="{% url 'record-detail' record.pk %}">{{experiment}}</a> ({{experiment.record_set.all.count}})</dt>
  <dd>{{experiment.summary}}</dd>
{% endfor %}
</dl>

</div>
{% endblock %}
